<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>

    <logger name="LogSystem">
      <level value="ALL"/>
      <appender-ref ref="rollingFile" />
    </logger>

    <!--<root>
            <level value="OFF"/>
            <appender-ref ref="AdoNetAppender_SqlServer"/>
        </root>-->

    <!--记录到文件方式-->
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--Log/文件夹下面的 以时间命名的文件 -->
      <param name="File" type="" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd'.txt'" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} | [%t] | %-5p | %c | %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
